.container {
  min-width: 428px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: white;
}

.container main {
  height: 100vh;
}

.container main h2 {
  margin: 20px 0;
  text-align: center;
}

.container main p {
  margin: 20px 0;
  text-align: center;
}

.container main p span {
  font-weight: bold;
}
