.title {
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #4646ff;
}

.message {
  cursor: pointer;
  text-align: center;
  margin-bottom: 4px;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
}

.success {
  background-color: #D4EDDA;
  color: #155724;
  border-color: #c3e6cb;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
